html{
  background-color: rgb(24, 27, 27);
}

body{
  background-color: rgb(24, 27, 27);
}

.jumbotron{
  background-image: url('img/dokter2.jpg');
  background-size: cover;
  height: 700px;
  text-align: center;
}

.jumbotron .display-4{
    font-family: Lucida Handwriting cursive;
    margin-top: 200px;
    font-size: 80px;
}

.jumbotron p{
  font-size: 40px;
  color: black;
}

.jumbotron hr{
  width: 80px;
  border-color: black;
  border-width: 7px;
}

.container img{
  width: 900px;
  height: 1200px;
  display: block;
  margin: auto;
  max-width:100%;
  /*width:100%;*/
  max-height: 100%;
}

.container h3{
  text-align: center;
}
